<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TheatreManagerApp.Properties.Settings.Setting" connectionString="Data Source=CS1;Initial Catalog=TheaterDB;Integrated Security=True" />
        <add name="TheatreManagerApp.Properties.Settings.TheaterDBConnectionString"
            connectionString="Data Source=CS1;Initial Catalog=TheaterDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>